#wrapper_section2 {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
  height: 708px;
  max-width: 100%;
  top: 300px;
}
@media (max-width: 767px) {
  #wrapper_section2 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}
