#section7_left_part_button {
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #ffff;
  border: 2px solid #ffff;
  font-weight: 700;
  letter-spacing: 2px;
  top: 40px;
  padding: 10px 30px;
  background-color: transparent !important;
  font-style: initial;
}
#section7_left_part_button:hover {
  opacity: 0.8;
}
