.tabs {
  font-family: Montserrat, sans-serif;
  color: #111111;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
  position: relative;
  top: -10px;
  left: 100px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .tabs {
    display: none;
  }
}
