.section6_text {
  line-height: 2;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  margin-left: 20px;
}
.section6_icon {
  position: relative;
  margin-right: 5px;
  top: 5px;
}
#section6_text1 {
  margin-top: 20px;
}
