.section8_form_bottom_text1 {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  margin-top: 20px;
  line-height: 1.8;
}
#section8_form_bottom_text2 {
  margin-left: 20px;
}
#section8_form_bottom_text3 {
  margin-left: 30px;
}
