#section3_midle_inner_top_tex {
  line-height: 1.8;
  font-size: 16px;
  margin-top: 20px;
  color: #111111;
  font-family: Montserrat, sans-serif;
}
#section3_midle_inner_name {
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #478ac9;
}
