#section3_right_part_text2 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  margin-top: 15px;
  color: white;
  font-size: 146px;
  letter-spacing: 3px;
  line-height: 1.1;
  text-align: left;
}
